.userBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px;
}
.user{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.username{
  margin-left: 5px;
  font-size: 1rem;
  font-style: none;
  font-weight: normal;
}

.commentBar {
  display: flex;
  align-items: center;
}

.container{
  margin-top: 20px;
  display: flex;
  justify-content: center;
}